body{
    background-image: url(pomotodo.jpg);
}

@mixin undo-done{
    min-width: 35%;
    min-height: 31em;
    border-bottom: 1px solid #aaaaaa;
    box-shadow: 2px 2px 10px #777777 inset;
}

#undo{
    position: relative;
    margin: -10px 0 0 -10px;
    display: inline-block;
    border-right: 1px solid #aaaaaa;
    border-radius: 0px 10px 10px 0;

    @include undo-done;

    #undo-menu{
        width: 50%;
        margin: auto;

        input[type=text]{
            width: 80%;
            height: 28px;
            border: 1px solid #eaeaea;
        }

        h3{
            font-family: cursive;
        }
    }
}

#done{
    float: right;
    margin: -10px -10px 0 0;
    border-left: 1px solid #aaaaaa;
    border-radius: 10px 0 0 10px;

    @include undo-done;

    #done-menu{
        width: 50%;
        margin: auto;
    }
}

ul{
    list-style-type: none;
    margin: 10px 0px;
    padding: 10px 0;

    li{
        border: 1px solid #bbbbbb;
        background-color: white;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #F7EDB8;
        border-radius: 2px;
        line-height: 35px;
    }
}


ul#undo-list{
    li:hover{
        background-color: #F7EDB8;
    }

    input[type=checkbox]{
        margin-left: 10px;
        margin-right: 8px;
    }
}

span.item-name{
    font-size: 15px;
    color: #666666;
}

.done-item span.item-name{
   margin-left: 15px;
}

@mixin header-right{
    float: right;
    margin: 15px 5px;

}

div#header{
    background: white;
    position: relative;
    margin: 0px -10px 50px -10px;
    padding: 8px 0;
    bottom: 10px;
    border-bottom: 1px solid #cecece;
    box-shadow: 0 1px 0px #EEE inset;

    #container{
        width: 80%;
        margin: auto;

        h1{
            display: inline-block;
        }

        #user-login{
            @include header-right;

            a{
                font-size: 15px;
            }

            #user-operation{
                position: absolute;
                width: 150px;
                right: 140px;
                top: 30px;
                display: none;

                &::before{
                    content: '';
                    border: 8px solid transparent;
                    border-bottom-color: #eeeeee;
                    z-index: 1000;
                    position: absolute;
                    right: 75px;
                    top: 5px;
                }

                ul{
                    li{
                        border: 1px solid #eeeeee;
                        border-bottom: 1px solid #fcfcfc;
                        border-radius: 3px;

                        &:hover{
                            background: #bec0de;
                        }

                        a{
                            margin-left: 30px;
                            text-decoration: none;
                        }
                    }

                }
            }
        }

        #history-record{
            @include header-right;
        }
    }
}
